<div class="container">	
	<% for article in @articles %>
		<% if !article.archived || user_signed_in? %>
			<div class="panel panel-default">
  			<h3><%= link_to article.title, article %></h3>
  			<hr>
  			<%= article.text.truncate(30) %>
  				<% if article.text.length > 400 %>
  				...
  				<% end %>
			</div>
		<% end %>
	<% end %>
</div>
