<div class="jumbotron rounded">
  <% if @welcome_article %>
      <%= @markdown_body.html_safe %>
  <% else %>
      <h1>Welcome to the wiki!</h1>
      <p>I'm a quick summary of the wiki, as well as a way to introduce new users and give out helpful <a href="">links</a>. You can also tell people how to <%= link_to "sign up", new_user_registration_path %> so they can access <em>protected</em> pages. </p>
      <h2><%# link_to "Check out more articles...", articles_path %></h2>
  <% end %>
</div>


<div class="container">
  <% @articles.each do |article| %>
      <div class="panel panel-default">
        <h3><%= link_to article.pretty_title, rails_wiki.article_path(article) %></h3>
        <%= article.text.truncate(30) %>
      </div>
  <% end %>
</div>